{% extends "base/base.html" %}
{% set active_page = "Warehouse" %}
{% from "base/base_macros.html" import paginate_macro %}


{% block head %} 
{% endblock %}


{% block title %} 
    {{ data_main.title }}
{% endblock %}


{% block body %}
    {% for message in get_flashed_messages(request) %}
        {% if message.message %}
            <div class="container-fluid container-fluid col-4 mt-4 text-center">
                    <div class="alert {{ message.category }}" role="alert">{{ message.message }}</div>
                </div>
        {% endif %}
    {% endfor %}


    {% if paginate %}
        <div class="d-flex align-items-center justify-content-center flex-column gap-4 mb-2">
            <!-- Модальное окно -->
            <div class="modal fade" id="WarehouseModal" tabindex="-1" aria-labelledby="WarehouseLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title mx-auto text-primary" id="WarehouseLabel">Поиск:</h5>
                        </div>
                        <div class="modal-body">
                            <form class="d-flex" id="searchform" action="{{url_for('warehouse_search_post')}}" method="get">
                                <input class="form-control me-1" type="search" placeholder="Наименование / Описание" aria-label="Search" name="q">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-outline-primary" form="searchform" type="submit">Поиск</button>
                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container-fluid mt-3">
                <table class="table table-hover table-bordered align-middle">
                    <thead class="text-center">
                        <tr>
                            <th scope="col"><a class="text-danger" data-bs-toggle="modal" data-bs-target="#WarehouseModal">#</a></th>
                            <th scope="col">Наименование</th>
                            <th scope="col">Количество</th>
                            <th scope="col">Описание вх</th>
                            <th scope="col">Описание вых</th>
                            <th scope="col">Статус</th>
                            <th scope="col">Дата создания</th>
                            <th scope="col">Дата редактирования</th>
                        </tr>
                    </thead>
            
                    <tbody>
                        {% for cell in paginate.content %}
                            <tr class="">
                                <th scope="row" class="text-center"><a href="{{url_for('warehouse_edit_get', warehouse_id=cell.id)}}">{{ cell.id }}</a></th>
                                <td>{{ cell.name }}</td>
                                <td class="text-center">{{ cell.quantity }}</td>
                                <td>{{ cell.desc_in }}</td>

                                {% if cell.desc_out %}
                                    <td class="text-center">{{ cell.desc_out }}</td>
                                {% else %}
                                    <td class="text-center"> - </td>
                                {% endif %}

                                {% if cell.status == True %}
                                    <td class="text-center">В наличии</td>
                                {% else %}
                                    <td class="text-center">Выбыл</td>
                                {% endif %}

                                <td class="text-center">{{ cell.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>

                                {% if cell.updated_at %}
                                    <td class="text-center">{{ cell.updated_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                                {% else %}
                                    <td class="text-center"> - </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}


{% block body_down %}
    {{ paginate_macro(paginate) }}
{% endblock %}