{% extends "base/base.html" %}
{% set active_page = "Warehouse" %}


{% block head %} 
{% endblock %}


{% block title %} 
    {{ data_main.title }}
{% endblock %}


{% block body %}

<div class="container col-4 position-absolute top-50 start-50 translate-middle">

    <form method="post">

        {% for message in get_flashed_messages(request) %}
            {% if message.message %}
                <div class="container-fluid container-fluid col-4 mt-4 text-center">
                        <div class="alert {{ message.category }}" role="alert">{{ message.message }}</div>
                    </div>
            {% endif %}
        {% endfor %}


        <div class="mb-3 row">
            <label for="name" class="col-sm-3 col-form-label">Наименоваение:</label>
            <div class="col-sm-9">
                <input  class="form-control" id="name" name="name" placeholder="{{name}}">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="quantity" class="col-sm-3 col-form-label">Количество:</label>
            <div class="col-sm-9">
                <input  class="form-control" id="quantity" name="quantity" placeholder="{{quantity}}">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="desc_in" class="col-sm-3 col-form-label">Описание вх:</label>
            <div class="col-sm-9">
                <textarea class="form-control" placeholder="{{desc_in}}" name="desc_in" rows="5"></textarea>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <button class="btn btn-primary" type="submit">Создать</button> 
        </div> 

    </form>
</div>

{% endblock %}