{% extends "base/base.html" %}
{% set active_page = "Warehouse" %}


{% block head %} 
{% endblock %}


{% block title %} 
    {{ data_main.title }}
{% endblock %}


{% block body %}
    <div class="container col-4 position-absolute top-50 start-50 translate-middle">
        <form method="post">
            {% for message in get_flashed_messages(request) %}
                <div class="container-fluid container-fluid mt-4 col-4 text-center">
                    <div class="alert {{message.category}}" role="alert">{{message.message}}</div>
                </div>
            {% endfor %}

            <div class="mb-3 row">
                <label for="name" class="col-sm-3 col-form-label">Наименование:</label>
                <div class="col-sm-9">
                    <input  class="form-control" id="name" name="name" value="{{data_base.name}}">
                </div>
            </div>

            <div class="mb-3 row">
                <label for="quantity" class="col-sm-3 col-form-label">Количество:</label>
                <div class="col-sm-9">
                    <input  class="form-control" id="quantity" name="quantity" value="{{data_base.quantity}}">
                </div>
            </div>

            <div class="mb-3 row">
                <label for="desc_in" class="col-sm-3 col-form-label">Описание вх:</label>
                <div class="col-sm-9">
                    <textarea class="form-control" name="desc_in" rows="5" >{{data_base.desc_in}}</textarea>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="desc_out" class="col-sm-3 col-form-label">Описание вых:</label>
                <div class="col-sm-9">
                    <textarea class="form-control" name="desc_out"rows="5">{{data_base.desc_out}}</textarea>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="status" class="col-sm-3 col-form-label">Статус:</label>
                <div class="col-sm-9">
                    <input type="checkbox" class="form-check-input" id="status" name="status" checked="checked">
                </div>
            </div>

            <fieldset disabled>
                <div class="mb-3 row">
                    <label for="date1" class="col-sm-4 col-form-label">Дата создания:</label>
                    <div class="col-sm-8">
                        <input  class="form-control" id="date1" name="resource" placeholder="{{data_base.created_at.strftime('%Y-%m-%d %H:%M:%S')}}">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="date2" class="col-sm-4 col-form-label">Дата редактирования:</label>
                    <div class="col-sm-8">
                        {% if data_base.updated_at %}
                            <input  class="form-control" id="date2" name="resource" placeholder="{{data_base.updated_at.strftime('%Y-%m-%d %H:%M:%S')}}">
                        {% else %}
                            <input  class="form-control" id="date2" name="resource" placeholder="">
                        {% endif %}
                    </div>
                </div>
            </fieldset>

            <div class="d-flex justify-content-end">
                <button class="btn btn-primary" type="submit">Применить</button> 
            </div> 
        </form>
    </div>

{% endblock %}