{% extends "base/base.html" %}
{% set active_page = 'About' %}


{% block head %} 
    <link href="{{ url_for('static', path='/css/about.css') }}" rel="stylesheet">
{% endblock %}


{% block title %} 
    {{ data_main.title }}
{% endblock %}


{% block body %}

    <div class="container col-4 mx-auto mt-3">
        {% if get_flashed_messages %}
            <div class="mb-3">
                {% for message in get_flashed_messages(request) %}
                    <div class="alert {{ message.category }}" role="alert">{{ message.message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <p>По вопросам о работе сайта обращаться на почту: n.makovenko@zs.ttk.ru.</p>
        <p>Разработчик сайта: Маковенко Николай Александрович.</p>
    </div>


{% endblock %}