{% macro paginate_macro(paginate)%}
    {% if paginate and paginate.total_pages > 1 %}
        <nav class="Page navigation example">
            {% if paginate.page_number > 0 %}
                <p class="text-center text-primary"> Страница: {{paginate.page_number}} из {{ paginate.total_pages}} </p>
            {% endif %}

            <ul class="pagination  justify-content-center">
                {% if paginate.page_number != 1 %}
                    <li class="page-item">
                        {% if paginate.q %}
                            <a class="page-link" href="?q={{paginate.q}}&page=1&size={{paginate.page_size}}"><span aria-hidden="true">&laquo;&laquo</span></a>
                        {% else %}
                            <a class="page-link" href="?page=1&size={{paginate.page_size}}"><span aria-hidden="true">&laquo;&laquo</span></a>
                        {% endif %}
                    </li>
                    
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href=""><span aria-hidden="true">&laquo;&laquo</span></a>
                    </li>
                {% endif %}


                {% for p in range(paginate.total_pages) %}

                    {% set p = p +1 %}
                    
                    {% if paginate.page_number == p %} 
                        {% if paginate.q %}
                            <li class="page-item active"><a class="page-link" href="?q={{paginate.q}}&page={{ p }}&size={{paginate.page_size}}">{{ p }}</a></li>
                        {% else %}
                            <li class="page-item active"><a class="page-link" href="?page={{ p }}&size={{paginate.page_size}}">{{ p }}</a></li>
                        {% endif %}
                            
                    {% elif p >= paginate.page_number +1 and p <= paginate.page_number +2 %}
                        {% if paginate.q %}
                            <li class="page-item"><a class="page-link" href="?q={{paginate.q}}&page={{ p }}&size={{paginate.page_size}}">{{ p }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ p }}&size={{paginate.page_size}}">{{ p }}</a></li>
                        {% endif %}

                    {% elif p <= paginate.page_number -1 and p >= paginate.page_number -2 %}
                        {% if paginate.q %}
                            <li class="page-item"><a class="page-link" href="?q={{paginate.q}}&page={{ p }}&size={{paginate.page_size}}">{{ p }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ p }}&size={{paginate.page_size}}">{{ p }}</a></li>
                        {% endif %}

                    {% endif %}
                {% endfor %}

                {% if paginate.page_number != paginate.total_pages %}
                    <li class="page-item">
                        {% if paginate.q %}
                            <a class="page-link" href="?q={{paginate.q}}&page={{ paginate.total_pages }}&size={{paginate.page_size}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        {% else %}
                            <a class="page-link" href="?page={{ paginate.total_pages }}&size={{paginate.page_size}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        {% endif %}

                    </li>

                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="" aria-label="Next">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

{% endmacro %}