
{% block alert %}
    {% for message in get_flashed_messages(request) %}
        {% if message.message %}
            <div class="container-fluid container-fluid col-4 mt-3 text-center">
                <div class="alert {{ message.category }}" role="alert">{{ message.message }}</div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}