{% extends "wiki/wiki_base.html" %}


{% block wiki_content %}
    <div class="col py-3">
        {% include "wiki/wiki_alert.html" %}
        <main class="col overflow-auto">
            <div class="bg-light border rounded-3 p-3">
                <h2>Вики</h2>
                <p>Вики созданы для отдела информационной безопасности.</p>
                <hr />
                <h4>Стадия: заполнение.</h4>
                <hr />
                <h4>Раздел "Группы":</h4>
                <p>в данном разделе находится информация о группах active directory.</p>
            </div>
        </main>
    </div>
{% endblock %}


