{% extends "wiki/wiki_base.html" %}



{% block wiki_content %}
    <main class="col mt-2">
        {% include "wiki/wiki_alert.html" %}

        {% if data_base %}
            <div class="d-flex align-items-center justify-content-center flex-column">
                <!-- Модальное окно -->
                <div class="modal fade" id="WikiGroupsModal" tabindex="-1" aria-labelledby="WikiGroupsLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title mx-auto text-primary" id="WikiGroupsLabel">Что ищем?</h5>
                            </div>
                            <div class="modal-body">
                                <form class="d-flex" id="searchform" action="{{url_for('wiki_groups_search')}}" method="get">
                                    <input class="form-control me-1" type="search" placeholder="Название группы/ Ресурс" aria-label="Search" name="q">
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-outline-primary" form="searchform" type="submit">Поиск</button>
                                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Закрыть</button>
                            </div>
                        </div>
                    </div>
                </div>
    
    
            <div class="container-fluid mt-3">
                <table class="table table-hover table-bordered align-middle">
                    <thead class="text-center">
                        <tr class="text-nowrap">
                            <th scope="col"><a class="text-danger" data-bs-toggle="modal" data-bs-target="#WikiGroupsModal">#</a></th>
                            <th scope="col">Название группы</th>
                            <th scope="col">Ресурс</th>
                            <th scope="col">IP-адрес</th>
                            <th scope="col"><i class="bi bi-person-fill-check"></i></th>
                            <th scope="col">Ответственный</th>
                            <th scope="col">Применение</th>
                            <th scope="col">Описание</th>
                        </tr>
                    </thead>
            
                    <tbody>
                        {% if data_base.main %}
                            <tr>
                                <th scope="row" class="text-center">{{ data_base.main.id }}</th>
                                
                                {% if data_base.main.root_id == 0 %}
                                    <td class="text-danger"> {{data_base.main.name}}</td>
                                {% elif data_base.main.root_id %}
                                    <td class="text-primary">{{data_base.main.name}}</td>
                                {% else %}
                                <td class="">{{data_base.main.name}}</td>
                                {% endif %}

                                <td class="text-center">{{ data_base.main.resource }}</td>

                                {% if data_base.main.ip == None %}
                                    <td class="text-center"> - </td>
                                {% else %}
                                    <td class="text-center">{{data_base.main.ip}}</td>
                                {% endif %}

                                {% if data_base.main.agreement == False %}
                                    <td class="text-center">Нет</td>
                                {% else %}
                                    <td class="text-center text-danger">Да</td>
                                {% endif %}

                                {% if data_base.main.responsible != None %}
                                    <td class="text-center">{{ data_base.main.responsible }}</td>
                                {% else %}
                                    <td class="text-center"> - </td>
                                {% endif %}

                                {% if data_base.main.object != None %}
                                    <td class="text-centr text-nowrap">{{ data_base.main.object }}</td>
                                {% else %}
                                    <td class="text-center"> - </td>
                                {% endif %}

                                {% if data_base.main.description != None %}
                                    <td>{{ data_base.main.description }}</td>
                                {% else %}
                                    <td class="text-center"> - </td>
                                {% endif %}
                            </tr>
                        {% endif %}

                        {% if data_base.secondary %}
                            {% for cell in data_base.secondary %}
                                <tr>
                                    <th scope="row" class="text-center">{{ cell.id }}</th>
                                    
                                    {% if cell.root_id == 0 %}
                                        <td class="text-danger"> {{cell.name}}</td>
                                    {% elif cell.root_id %}
                                        <td class="text-primary">{{cell.name}}</td>
                                    {% else %}
                                    <td class="">{{cell.name}}</td>
                                    {% endif %}

                                    <td class="text-center">{{ cell.resource }}</td>

                                    {% if cell.ip == None %}
                                        <td class="text-center"> - </td>
                                    {% else %}
                                        <td class="text-center">{{cell.ip}}</td>
                                    {% endif %}

                                    {% if cell.agreement == False %}
                                        <td class="text-center">Нет</td>
                                    {% else %}
                                        <td class="text-center text-danger">Да</td>
                                    {% endif %}

                                    {% if cell.responsible != None %}
                                        <td class="text-center">{{ cell.responsible }}</td>
                                    {% else %}
                                        <td class="text-center"> - </td>
                                    {% endif %}

                                    {% if cell.object != None %}
                                        <td class="text-center text-nowrap">{{ cell.object }}</td>
                                    {% else %}
                                        <td class="text-center"> - </td>
                                    {% endif %}

                                    {% if cell.description != None %}
                                        <td>{{ cell.description }}</td>
                                    {% else %}
                                        <td class="text-center"> - </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        {% endif %}

    </main>
{% endblock %}


