{% extends "base/base.html" %}
{% set active_page = "Script" %}



{% block head %} 
{% endblock %}


{% block title %} 
    {{ data_main.title }}
{% endblock %}


{% block body %}
<!-- Modal -->
<div class="modal fade" id="staticHelp" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticHelpLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticHelpLabel">Справка по скрипту крипто.</h5>
            </div>
            <div class="modal-body">
                Скрип крипто конвертирует данные из хэш вида (16 значного) в
                формат RFC 1751 (короткие слова до 4 букв).
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>

            </div>
        </div>
    </div>
</div>

    <div class="container col-6 position-absolute top-50 start-50 translate-middle">

        <form method="post">

            {% for message in get_flashed_messages(request) %}
                {% if message.message %}
                    <div class="container-fluid container-fluid col-9 mt-4 text-center">
                            <div class="alert {{ message.category }}" role="alert">{{ message.message }}</div>
                        </div>
                {% endif %}
            {% endfor %}


            <div class="mb-3 row col-9 mx-auto">
                <div class="">
                    <label for="hash" class="col-form-label text-nowrap text-primary">Введите данные:</label>
                    {% if data_main.text != 'Start' %}
                        <input  class="form-control" name="hash" value="{{ data_main.text }}">
                    {% else %}
                        <input  class="form-control" name="hash">
                    {% endif %}
                </div>

                {% if data_main.crypto != 'Start' %}
                    <div class="">
                        <label for="rfc" class="col-form-label text-primary">Данные конвертированы в RFC 1751:</label>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" style="height: 100px" disabled>{{ data_main.crypto }}</textarea>
                        </div>
                    </div>
                {% endif %}
                
                <div class="d-flex justify-content-end mt-2">
                    {% if data_main.text == 'Start' %}
                        <button type="button" class="btn btn-warning me-1" data-bs-toggle="modal" data-bs-target="#staticHelp">
                            Справка
                        </button>
                        <button class="btn btn-primary" type="submit">Конвертировать</button>
                    {% else %}
                        <button class="btn btn-outline-primary" type="submit">Конвертировать</button> 
                    {% endif %}
                </div> 
            </div>

        </form>
    </div>
{% endblock %}



