{% extends "base/base.html" %}
{% set active_page = "Info" %}


{% block head %} 
{% endblock %}


{% block title %} 
    {{ data_main.title }}
{% endblock %}


{% block body %}
    {% for message in get_flashed_messages(request) %}
        {% if message.message %}
            <div class="container-fluid col-4 mt-4 text-center">
                <div class="alert {{ message.category }}" role="alert">{{ message.message }}</div>
            </div>
        {% endif %}
    {% endfor %}


    {% if data_base %}
        <div class="d-flex align-items-center justify-content-center flex-column">
            <!-- Модальное окно -->
            <div class="modal fade" id="InfoScriprsModal" tabindex="-1" aria-labelledby="InfoScriprsLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title mx-auto text-primary" id="InfoScriprsLabel">Что ищем?</h5>
                        </div>
                        <div class="modal-body">
                            <form class="d-flex" id="searchform" action="{{url_for('info_scripts_search')}}" method="get">
                                <input class="form-control me-1" type="search" placeholder="Название скрипта/ Лог" aria-label="Search" name="q">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-outline-primary" form="searchform" type="submit">Поиск</button>
                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>


        <div class="container-fluid mt-3">
            <table class="table table-hover table-bordered align-middle">
                <thead class="text-center">
                    <tr class="text-nowrap">
                        <th scope="col"><a class="text-danger" data-bs-toggle="modal" data-bs-target="#InfoScriprsModal">#</a></th>
                        <th scope="col">Название скрипта</th>
                        <th scope="col">Лог</th>
                        <th scope="col">Дата</th>
                    </tr>
                </thead>
        
                <tbody>
                    {% if data_base %}
                        {% if '***Ошибка***' in data_base.log %}
                            <tr class='text-danger'>
                        {% elif '***Инфо***' in data_base.log %}
                            <tr class='text-warning'>
                        {% else %}
                            <tr>
                        {% endif %}
                                <th scope="row" class="text-center">{{ data_base.id }}</th>
                                <td>{{ data_base.name_script }}</td>
                                
                                {% if data_base.log | length > 120 %}
                                <td class="forum-post-contents">
                                        <textarea class="form-control" rows="10">{{ data_base.log }}</textarea>
                                    </td>
                                {% else %}
                                    <td>{{data_base.log}}</td>
                                {% endif %}

                                {% if data_base.date %}
                                    <td class="text-center">{{ data_base.date | my_date_filter(user.tz) }}</td>
                                {% else %}
                                    <td class="text-center">No Date.</td>
                                {% endif %}
                            </tr>
                    {% endif %}
                </tbody>
            </table>
    {% endif %}
{% endblock %}