{% extends "base/base.html" %}
{% set active_page = "Info" %}
{% from "base/base_macros.html" import paginate_macro %}


{% block head %} 
{% endblock %}


{% block title %} 
    {{ data_main.title }}
{% endblock %}


{% block body %}
    {% for message in get_flashed_messages(request) %}
        {% if message.message %}
            <div class="container-fluid  col-4 mt-4 text-center">
                <div class="alert {{ message.category }}" role="alert">{{ message.message }}</div>
            </div>
        {% endif %}
    {% endfor %}


    {% if paginate %}
        <div class="d-flex align-items-center justify-content-center flex-column">
            <!-- Модальное окно -->
            <div class="modal fade" id="InfoScriprsModal" tabindex="-1" aria-labelledby="InfoScriprsLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title mx-auto text-primary" id="InfoScriprsLabel">Что ищем?</h5>
                        </div>
                        <div class="modal-body">
                            <form class="d-flex" id="searchform" action="{{url_for('info_scripts_search')}}" method="get">
                                <input class="form-control me-1" type="search" placeholder="Название скрипта/ Лог" aria-label="Search" name="q">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-outline-primary" form="searchform" type="submit">Поиск</button>
                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>


        <div class="container-fluid mt-3">
            <table class="table table-hover table-bordered align-middle">
                <thead class="text-center">
                    <tr class="text-nowrap">
                        <th scope="col"><a class="text-danger" data-bs-toggle="modal" data-bs-target="#InfoScriprsModal">#</a></th>
                        <th scope="col">Название скрипта</th>
                        <th scope="col">Лог</th>
                        <th scope="col">Дата</th>
                    </tr>
                </thead>
        
                <tbody>
                    {% for cell in paginate.content %}
                        {% if '***Ошибка***' in cell.log %}
                            <tr class='text-danger'>
                        {% elif '***Инфо***' in cell.log %}
                            <tr class='text-warning'>
                        {% else %}
                            <tr>
                        {% endif %}
                            <th scope="row" class="text-center"><a href="{{url_for('info_scripts_id_get', info_scripts_id=cell.id)}}">{{ cell.id }}</a></th>
                            <td>{{ cell.name_script }}</td>
                            <td>{{ cell.log[:120] }}</td>

                            {% if cell.date %}
                                <td class="text-center">{{ cell.date | my_date_filter(user.tz) }}</td>
                            {% else %}
                                <td class="text-center">No Date.</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}


{% block body_down %}
    {{ paginate_macro(paginate) }}
{% endblock %}