{% extends "base/base.html" %}
{% set active_page = "Info" %}
{% from "base/base_macros.html" import paginate_macro %}


{% block head %} 
{% endblock %}


{% block title %} 
    {{ data_main.title }}
{% endblock %}


{% block body %}
    {% for message in get_flashed_messages(request) %}
        {% if message.message %}
            <div class="container-fluid col-4 mt-4 text-center">
                <div class="alert {{ message.category }}" role="alert">{{ message.message }}</div>
            </div>
        {% endif %}
    {% endfor %}

    
    <div class="d-flex justify-content-center align-items-center mt-3">


        <div class="card white-space col-3">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
                <h5 class="card-title text-primary text-center">Дата файла: {{data_main.proxy_pac_date}}</h5>
                <text class="card-text text-wrap">
                    <hr>
                    {% for item in  data_main.proxy_pac %}
                        {{item}}<br>
                    {% endfor %}
                </text>
            </div>
        </div>
    
    </div>


{% endblock %}


